.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* Form container style */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Go back button style */
.go-back-btn {
    margin-top: 20px;
}

/* Footer style */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
}